---
import Layout from '../../layouts/default.astro';
import Header from '../../components/header.astro';
import Form from '../../components/booking/form.astro';
---
<Layout pageTitle="Bookings">
	<Header cafe booking border />
	<div id="booking" class="booking">
    <main class="booking-main">
      <Form
        src="https://docs.google.com/forms/d/e/1FAIpQLSfDJoJ__LRtpP31SUxNBP2AN92We9odGSmwzci9EqsHHp0XEA/viewform?embedded=true"
        height="2000"
      />
    </main>
	</div>
</Layout>

<style lang="scss">
.booking {
  width: 100vw;
  background: var(--color-marble);
  height: auto;
}

.booking-form {
  border: none;
}
</style>

