---
import Layout from '../../layouts/default.astro';
import Header from '../../components/header.astro';

import { Content } from '../../../admin/pages/booking/faq.mdx'
---
<Layout pageTitle="Bookings">
	<Header cafe booking border />
	<div id="booking" class="booking">
    <main class="booking-main">
      <Content />
    </main>
	</div>
</Layout>

<style lang="scss">
@import "../../styles/_breakpoints";

.booking-main {
  padding: 1rem;
  margin-bottom: 2rem;
  min-height: 60vh;
  max-width: 900px;

  @include b-desktop {
    padding: 2rem 4rem;
  }
}
</style>

<style is:global lang="scss">
@import '../../styles/breakpoints';

h1 {
  font-size: 32px;
  margin: 0.5rem 0 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;

  @include b-desktop {
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    background: var(--color-azure);
    height: 4px;
    border-radius: 2px;
  }

  &::before {
    width: 2rem;

    @include b-desktop {
      width: 4rem;
    }
  }

  &::after {
    flex-grow: 1;
  }
}

h2 {
  font-size: 28px;
  margin-top: 2rem;
}

p {
  margin: 1rem 0;
  font-size: 1.25rem;
}
</style>
