---
const { src, height } = Astro.props;
---
<div class="spacer"></div>
<iframe
  src={src}
  width="375"
  height={height}
  frameborder="0"
  marginheight="0"
  marginwidth="0"
>
  Loading…
</iframe>

<p>
  Having issues with the booking?
  <a href="mailto:contact@pikalabikes.com">Drop us an e-mail</a>
</p>

<style>
.spacer {
  background: var(--color-white);
  height: 2rem;
  margin-top: 3rem;
}

iframe {
  background: var(--color-white);
  width: 100%;
}

p {
  text-align: center;
  font-size: 1.25rem;
  margin: 3rem;
}
</style>
