---
const { src, height } = Astro.props;
---
<div class="form">
  <div class="spacer"></div>
  <div class="frame">
    <iframe
      src={src}
      width="375"
      height={height}
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Loading…
    </iframe>
  </div>
  <p>
    Having issues with the booking?
    <br><a href="mailto:contact@pikalabikes.com">Drop us an e-mail</a>
  </p>
</div>

<style lang="scss">
@import '../../styles/breakpoints';

.form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 124px);
}
.spacer {
  background: var(--color-white);
  margin-top: 3rem;
}

.frame {
  overflow: scroll;
  flex-shrink: 1;
  flex-grow: 0;
}


iframe {
  background: var(--color-white);
  width: 100%;
}

p {
  text-align: center;
  margin: 0.5rem 0;

  @include b-desktop {
    font-size: 1.25rem;
  }
}
</style>
