---
---
<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSdTI_33ty-OjNSbYBdx0hYCBBqK8uYAFkzyDwPbL9vtzSqXGg/viewform?embedded=true"
  width="375"
  height="1380"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
>
  Loading…
</iframe>

<p>
  Having issues with the booking?
  <a href="mailto:contact@pikalabikes.com">Drop us an e-mail</a>
</p>

<style>
iframe {
  margin-top: 2rem;
  width: 100%;
}

p {
  text-align: center;
  font-size: 1.25rem;
}
</style>
