@keyframes scale-in {
  from {
    transform: scaleX(1.1);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(1rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-scale {
  from {
    transform: scale(1.1) translateY(1rem);
  }

  to {
    transform: scale(1.1) translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
