@import './breakpoints';

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--color-henna);
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  margin: initial;
}

h2 {
  font-size: 36px;

  @include b-desktop {
    font-size: 48px;
  }
}

a {
  color: var(--color-indigo);
}

::selection {
  background-color: var(--color-clementine);
  color: var(--color-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
