@import './breakpoints';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--color-henna);
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

main {
  width: 100vw;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
  margin: initial;
}

h1 {
  font-size: 48px;

  @include b-desktop {
    font-size: 64px;
  }
}

h2 {
  font-size: 36px;

  @include b-large-desktop {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.05;

  + p {
    margin-top: 0.75rem;
  }

  @include b-desktop {
    font-size: 36px;

    + p {
      margin-top: 1rem;
    }
  }
}

h4 {
  font-size: inherit;

  + p {
    margin-top: 0.5rem;
  }
}

p {
  line-height: 1.375;
  margin-top: 0;
}

a {
  --link-color: var(--color-indigo);
  --link-color-hover: var(--color-azure);

  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }

  &.social-icon {
    text-decoration: none;

    & + .social-icon {
      margin-left: 0.5rem;
    }
  }
}

::selection {
  background-color: var(--color-clementine);
  color: var(--color-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.tiny {
  font-size: 14px;
}

.tablet-only {
  display: none;

  @include b-tablet {
    display: revert;
  }
}

.desktop-only {
  display: none;

  @include b-desktop {
    display: revert;
  }
}

img {
  font-size: 0;
}

.map-link {
  display: block;
  font-size: 1.25rem;
}

.map-image {
  margin: 2rem 0;
  max-width: 100%;
  height: auto;
}
