---
import Layout from '../layouts/default.astro';
import Header from '../components/header.astro';
import Button from '../components/button.astro';
---
<Layout>
	<Header cafe />
	<main>
		<h2>I'd like to</h2>
    <div>
      <Button size="l" variant="outline">Book a tour</Button>
      <Button size="l" variant="outline">Rent a bike</Button>
    </div>
	</main>
</Layout>
