---
import Layout from '../layouts/default.astro';
import Section from '../components/section.jsx';

const sections = await Astro.glob('../sections/home/*.mdx');
---
<Layout>
	<header>
		<h1>Pikala</h1>
		<nav>
			<ul>
				<li>
					<a href={`${import.meta.env.BASE_URL}/booking`}>Book now</a>
				</li>
				<li>
					<a href='#our-story'>Our story</a>
				</li>
				<li>
					<a href={`${import.meta.env.BASE_URL}/cafe`}>Cafe</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		{
			sections.map(({ frontmatter: { id, title }, Content }) => (
				<Section id={id} title={title}>
					<Content />
				</Section>
			))
		}
	</main>
	<footer></footer>
</Layout>
