---
const { value, label, section } = Astro.props;
---
<a href={`#${section}`} class="stat">
  <div class="value">{value}</div>
  <div class="label">{label}</div>
</a>

<style lang="scss">
@import '../../styles/breakpoints';

.stat {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color 100ms;

  &:hover {
    color: var(--color-indigo);
  }
}

.value {
  font-family: Quicksand;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}

.label {
  font-size: 20px;

  @include b-desktop {
    font-size: 24px;
  }
}
</style>
