---
import { Image } from 'astro:assets';
import Thumbnail from '../../admin/images/video-thumbnail.jpg';
import PlayButton from './play-button.astro';
---
<section class="video-section" id="our-story">
  <div class="video-wrapper" id="video-wrapper">
    <template id="video-template">
      <iframe
        id="video"
        class="video"
        loading="lazy"
        src="https://www.youtube-nocookie.com/embed/D3ofT5b3Ifc?si=2bL9iXhJuFXfIoD5?rel=0&enablejsapi=1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <script type="text/javascript">
        let videoPlayer = null;

        const onReady = () => videoPlayer.playVideo();

        window.onYouTubeIframeAPIReady = () => videoPlayer = new YT.Player('video', { events: { onReady }});
      </script>
    </template>
    <Image class="thumbnail" src={Thumbnail} alt='Thumbnail of the Pikala promo video' />
    <PlayButton id="video-play" class="play" />
  </div>
  <div class="panel">
    <h1>Our story</h1>
  </div>
</section>

<script>
const section = document.getElementById('our-story');
const playButton = document.getElementById('video-play');
const videoTemplate = document.getElementById('video-template') as HTMLTemplateElement;
const videoWrapper = document.getElementById('video-wrapper');
playButton.addEventListener('click', () => {
  const iframeAPI = document.createElement('script');
  iframeAPI.src = 'https://www.youtube.com/iframe_api';

  document.head.appendChild(iframeAPI);

  videoWrapper.insertBefore(
    videoTemplate.content.cloneNode(true),
    videoWrapper.firstElementChild,
  );

  section.classList.add('playing');
});
</script>

<style lang="scss">
@import '../../styles/breakpoints';

.video-wrapper {
  position: relative;
  min-height: 50vh;
  width: 100vw;
  transition: min-height 300ms;

  .playing & {
    min-height: 50vh;
    z-index: 2;

    @include b-desktop {
      min-height: 80vh;
    }
  }

  :global(#video-play) {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: opacity 300ms;

    .playing & {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.video, .thumbnail {
  min-height: inherit;
  width: 100%;
  display: block;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  transition: opacity 300ms;

  .playing & {
    opacity: 0;
    pointer-events: none;
  }
}

.panel {
  background: var(--color-clementine);
  color: var(--color-white);
  text-align: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -2rem;
    background: inherit;
    clip-path: url(#wave1);
    height: 3rem;
    top: calc(-3rem + 1px);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -2rem;
    background: inherit;
    clip-path: url(#wave5);
    height: 3rem;
    bottom: calc(-3rem + 1px);
    z-index: 2;
  }
}
</style>
