---
const { variant = 'outline', size = 'm', as, ...props } = Astro.props;

const attributes = {
  className: `button button--variant-${variant} button--size-${size} ${props.class || ''}`,
  ...props,
};
---
{
  as === 'a' ? <a {...attributes}><slot /></a> : <button {...attributes}><slot /></button>
}

<style lang="scss">
@import '../styles/breakpoints';

.button {
  border: solid 2px;
  border-color: var(--button-border);
  border-radius: 1em;
  background-color: var(--button-background);
  color: var(--button-foreground);
  display: inline-block;
  font-family: Quicksand;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 50ms, color 50ms;

  &:hover {
    border-color: var(--button-hover-color);
    color: var(--button-hover-color);
  }
}

.button--size-m {
  font-size: 20px;
  padding: 0.325rem 0.75rem;
}

@include b-desktop {
  .button--size-m {
    font-size: 24px;
    padding: 0.5rem 1rem;
  }
}

.button--size-l {
  font-size: 24px;
  padding: 0.5rem 1rem;
}

@include b-desktop {
  .button--size-l {
    font-size: 32px;
    padding: 0.5rem 1.5rem;
  }
}

.button--variant-clementine {
  --button-background: var(--color-clementine);
  --button-border: var(--color-clementine);
  --button-foreground: var(--color-white);
  --button-hover-color: var(--color-henna);
}

.button--variant-white {
  --button-background: var(--color-white);
  --button-border: var(--color-white);
  --button-foreground: var(--color-azure);
  --button-hover-color: var(--color-henna);
}

.button--variant-henna {
  --button-background: var(--color-henna);
  --button-border: var(--color-henna);
  --button-foreground: var(--color-white);
  --button-hover-color: var(--color-marble);
}

.button--variant-outline {
  --button-background: transparent;
  --button-border: var(--color-henna);
  --button-foreground: var(--color-henna);
  --button-hover-color: var(--color-indigo);
}

.button--variant-outline-white {
  --button-background: transparent;
  --button-border: var(--color-white);
  --button-foreground: var(--color-white);
  --button-hover-color: var(--color-marble);
}
</style>
