---
import { Image } from 'astro:assets';
const partners = await Astro.glob('../admin/partners/*.mdx');
---
<footer class="footer">
  <a class="back-to-top" href="#page" aria-label="Back to top">
    <svg aria-hidden="true" width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 15L15 3L27 15" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <h3>Our partners</h3>
  <ul class="partners">
    {
      partners.map(async ({ frontmatter: { image, name } }) => {
        const { default: src } = await import(`../admin/images/${image}.png`);
        return (
          <li class="partner">
            <Image class="partner-image" src={src} alt={name} title={name} />
          </li>
        );
      })
    }
  </ul>
  <p class="copyright tiny">Copyright 2024 PIKALA BIKES | All Rights Reserved</p>
</footer>

<style lang="scss">
@import '../styles/breakpoints';

.footer {
  color: var(--color-mortar);
  padding: 1rem;
  position: relative;

  @include b-desktop {
    padding: 3rem 3rem 1rem;
  }
}

.partners {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 2rem 0 0;
  max-width: 1200px;

  @include b-desktop {
    margin-top: 3rem;
  }
}

.partner-image {
  height: 3rem;
  width: auto;

  @include b-desktop {
    height: 5rem;
  }
}

.copyright {
  margin: 3rem 0 0;
  text-align: center;

  @include b-desktop {
    margin-top: 4rem;
    text-align: left;
  }
}

.back-to-top {
  align-items: center;
  background: var(--color-clementine);
  border-radius: 64px;
  color: var(--color-white);
  display: flex;
  font-family: Quicksand;
  font-size: 64px;
  height: 64px;
  justify-content: center;
  line-height: 1;
  position: absolute;
  right: 2rem;
  text-decoration: none;
  top: -24px;
  width: 64px;
  z-index: 3;

  @include b-desktop {
    display: none;
  }
}
</style>
