---
import { Image } from 'astro:assets';

import Logo from '../components/logo.astro';
import Button from '../components/button.astro';

import { frontmatter as config } from '../admin/pages/home/home.mdx';

const { default: heroImage } = await import(`../admin/images/${config['hero_image']}.jpg`);
---
<header class="intro">
  <Image class="hero" src={heroImage} alt={config['hero_image_alt_text']} />
  <div class="panel">
    <div class="logo">
      <Logo />
    </div>
    <div class="content">
      <h1 class="sr-only">Pikala</h1>
      <h2 class="tagline">Bikes power the next generation.</h2>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <Button
              as="a"
              variant="clementine"
              size="m"
              href={`${import.meta.env.BASE_URL}/booking`}
            >
              Book now
            </Button>
          </li>
          <li class="nav-item">
            <Button
              as="a"
              variant="clementine"
              size="m"
              href='#statistics'
            >
              Our story
            </Button>
          </li>
          <li class="nav-item">
            <Button
              as="a"
              variant="clementine"
              size="m"
              href={`${import.meta.env.BASE_URL}/cafe`}
            >
              Café
            </Button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style lang="scss">
@import '../styles/breakpoints';

@mixin wave {
  content: '';
  display: block;
  position: absolute;
  left: -1rem;
  right: -1rem;
}

.intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero {
  animation: slide-in-scale 800ms forwards;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: solid 1rem var(--color-clementine);
}

.logo {
  display: flex;
  padding: 0 1rem 3rem;
  position: relative;

  @include b-desktop {
    padding-bottom: 5rem;
  }

  :global(svg) {
    animation: fade-in 1000ms 300ms both;
    width: 80px;
    z-index: 1;
  }

  &::before {
    @include wave;

    animation: scale-in-120 800ms ease-in-out forwards;
    transform-origin: center left;
    background: var(--color-white);
    clip-path: url(#wave2);
    height: 6rem;
    top: calc(-2rem + 1px);

    @include b-desktop {
      animation-name: scale-in-110;
      clip-path: url(#wave3);
      height: 15rem;
      top: calc(-4rem + 1px);
      transform-origin: center right;
    }
  }

  &::after {
    @include wave;

    background: var(--color-white);
    height: 4rem;
    bottom: 0;

    @include b-desktop {
      height: 4rem;
    }
  }

  @include b-desktop {
    justify-content: center;

    :global(svg) {
      width: initial;
    }
  }
}

.content {
  background: var(--color-marble);
  padding: 1.5rem;
  position: relative;

  &::before {
    @include wave;

    --wave-height: 2rem;

    animation: scale-in-120 1s ease-in-out forwards;
    transform-origin: center right;
    background: inherit;
    clip-path: url(#wave1);

    height: var(--wave-height);
    top: calc(-1 * var(--wave-height) + 1px);

    @include b-desktop {
      --wave-height: 4rem;

      animation-name: scale-in-110;
      clip-path: url(#wave4);
      transform-origin: center left;
    }
  }

  @include b-desktop {
    text-align: center;
  }
}

.tagline {
  animation: slide-in 1s 300ms both, fade-in 1s 300ms both;
}

.nav {
  margin: 2rem 0 0;
  animation: fade-in 1s 300ms both;

  @include b-desktop {
    margin: 3rem 0 1rem;
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
}
</style>
