---
import Layout from '../layouts/default.astro';
import Header from '../components/header.astro';

const { pageTitle, pageID } = Astro.props;
---
<Layout pageTitle={pageTitle}>
	<Header cafe booking border />
	<div id={pageID} class="text-page">
    <main class="text-page-main">
      <slot />
    </main>
	</div>
</Layout>

<style lang="scss">
@import "../styles/_breakpoints";
.text-page {
  background: var(--color-marble);
  min-height: 100vh;
}

.text-page-main {
  background: var(--color-white);
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 900px;

  @include b-desktop {
    margin-left: 8rem;
    margin-bottom: 4rem;
    padding: 2rem 4rem;
  }
}
</style>

<style is:global lang="scss">
@import '../styles/breakpoints';

h1 {
  font-size: 32px;
  margin: 0.5rem 0 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;

  @include b-desktop {
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
    gap: 1rem;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    background: var(--color-azure);
    height: 4px;
    border-radius: 2px;
  }

  &::before {
    width: 2rem;

    @include b-desktop {
      width: 4rem;
    }
  }

  &::after {
    flex-grow: 1;
  }
}

h2 {
  font-size: 28px;
  margin-top: 2rem;
}

p, ul {
  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
}

main li + li {
  margin-top: 0.5rem;
}
</style>
