---
import '../styles/variables.scss';
import '../styles/animations.scss';
import '../styles/styles.scss';

import Footer from '../components/footer.astro';
import Waves from '../components/waves.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pikala - Bicycle tours & Rental in Marrakech</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="page" class="page">
			<slot/>
			<Footer />
		</div>
		<Waves />
	</body>
</html>

<style lang="scss">
.page {
	width: 100vw;
	overflow: hidden;
}
</style>
